<h1>Listing Current user products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_user_products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.content %></td>
        <td><%= product.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
